/*Import*/
@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/*Headings and logo*/
h1,
h2 {
    font-family: Pangolin, sans-serif;
    text-transform: uppercase;
    color: #252525;
    letter-spacing: 3px;
}

#logo {
    font-size: 300%;
    float: left;
    margin-left: 20px;
}

/*Navigation links*/
#menu {
    font-size: 120%;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    float: right;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}