/*Import*/
@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* header */

/* Fix and style the header/help from stack overflow*/
#header {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    width: 100%;
    z-index: 2000;
    height: 70px;
}

/*Headings and logo*/

h1,
h2 {
    font-family: Pangolin, sans-serif;
    text-transform: uppercase;
    color: #252525;
    letter-spacing: 3px;
}

#logo {
    font-size: 300%;
    float: left;
    margin-left: 20px;
}

/*Navigation links*/
#menu {
    font-size: 120%;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    float: right;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Hero image and cover text*/

#hero-outer {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#cover-text,
#cover-text h2 {
    color: rgb(255, 255, 255);
}

#cover-text ol {
    list-style-type: none;
}

#hero-image {
    width: 100%;
    height: 600px;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;

    /* Animates zoom effect on landing page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for hero image*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-family: Raleway, sans-serif;
    text-align: center;
    font-size: 130%;
    width: 360px;
    height: 160px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(99, 161, 219, .9);

    bottom: 150px;
    right: 30px;

    position: absolute;
}

/*All offers section*/
#offers-box {
    background-image: url('../images/offers-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#offers-box div {
    color: #fafafa;
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    margin-top: 30px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid;
    font-family: Raleway, sans-serif;
    font-size: 130%;

}

#offers-box h2 {
    color: #fafafa;
}

#offers-box ul {
    list-style-type: none;
}

#services-box {
    background-color: #8e7cc3;
}

#treatments-box {
    background-color: rgb(99, 161, 219);
}

#coaches-box {
    background-color: #38761d;
}

#what {
    font-size: 200%;
    text-align: center;
    text-decoration: underline;
    margin: 30px 0;
}


/*Location, opening & closing hours section*/
#location {
    background-image: url('../images/location-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;

    margin-bottom: 30px;
}

#location div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 25%;
    height: 250px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#where {
    font-size: 200%;
    text-align: center;
    text-decoration: underline;
    margin: 30px 0;
}

#location h2 {
    color: #fafafa;
}

/*footer*/

footer {
    height: 200px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1em;
    bottom: 0;
    right: 0;

}

#contact,
#contact h2 {
    color: #3a3a3a;
    font-size: 100%;
}

#contact h2 {
    text-decoration: underline;
}

#mailto a {
    text-decoration: none;
    color: inherit;
}

#mailto a:hover {
    color: #fafafa;
}

#phone a {
    text-decoration: underline;
    color: inherit;
}

#phone a:hover {
    color: #fafafa;
}

/* Fellowes on slack (width: fit-content, display: flex)*/
#social-media {
    width: fit-content;
    margin: auto;
}

#social-media ul {
    display: flex;
    margin-top: 2px;
}

#social-media i {
    font-size: 160%;
    color: #3a3a3a;
}

#social-media li {
    list-style-type: none;
    padding: 10px;
}

#social-media i:hover {
    color: #fafafa;
}

/*About Us page*/

/*Video*/

#video {
    padding-top: 100px;
    text-align: center;
    overflow: hidden;
}

iframe {
    border: none;
}

/*Text information section*/
#information {
    font-family: Raleway, sans-serif;
    text-align: center;
    padding: 0 30px;
    color: #3a3a3a;
}

#information h2 {
    font-size: 200%;
    text-align: center;
    margin: 30px 0;
}

#information h3 {
    margin: 30px 0;
}


/* User Rating section (code from w3schools)*/

#reviews {
    width: 70%;
    margin-left: 190px;
}

#rating {
    font-family: Raleway, sans-serif;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}


.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    float: left;
    width: 70%;
    margin-top: 10px;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {
    width: 90%;
    height: 18px;
    background-color: #38761d;
}

.bar-4 {
    width: 25%;
    height: 18px;
    background-color: rgb(99, 161, 219);
}

.bar-3 {
    width: 15%;
    height: 18px;
    background-color: #8e7cc3;
}

.bar-2 {
    width: 4%;
    height: 18px;
    background-color: #ff9800;
}

.bar-1 {
    width: 1%;
    height: 18px;
    background-color: #f44336;
}

/* Coaches picture section*/

#coaches h2 {
    font-size: 200%;
    text-align: center;
    text-decoration: underline;
    margin: 30px 0;
}

img {
    width: 100%;
}

.column {
    width: 25%;
    padding: 5px;
    float: left;
    box-sizing: border-box;
}

/* Coaches' description*/

.description {
    width: 25%;
    margin: 0 0 30px 0;
    padding: 5px;
    float: left;
    text-align: center;
    background-color: #ffffff;
    box-sizing: border-box;
}

/* Book now page*/

.book-section {
    clear: left;
    background: url('../images/form-background.jpg');
    background-size: cover;
    background-position: center;
    height: 750px;
    width: 100%;
    margin-top: 70px;
}

.book-section h2 {
    color: #3a3a3a;
    margin-bottom: 20px;
    text-align: center;
}

form {
    font-family: Raleway, sans-serif;
    width: 40%;
    height: 680px;
    padding: 30px;
    margin: 30px auto;
    background-color: rgba(224, 216, 216, .6);
    color: #3a3a3a;
    overflow: hidden;
}

fieldset {
    border: none;
    margin: 30px;
}

fieldset>div {
    margin-top: 10px;
}

input[type=text],
input[type=email],
input[list=coaches] {
    height: 30px;
    width: 55%;
    padding-left: 10px;
    margin: 0 auto;

    color: #3a3a3a;
    border: 2px solid #3a3a3a;
    background: transparent;
}

/*overrides css above*/
input[list=coaches] {
    width: 39%;
}

input[type=email] {
    margin-left: 32px;
}

legend {
    font-size: 100%;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 600;
    margin: 20px 0 10px 0;
}

label {
    margin: 10px 15px 5px 0;
}

select {
    height: 30px;
    width: 17%;
    margin: 0 auto;
    padding-left: 10px;

    color: #3a3a3a;
    background: transparent;
    border: 2px solid #3a3a3a;
}

.services-checkbox,
.treatments-checkbox {
    float: left;
}

.treatments-checkbox {
    margin-left: 0;
}

#gender {
    margin-left: 21px;
    width: 35%;
}

#hours {
    margin-left: 29px;
    width: 35%;
}

#date {
    margin-left: 40px;
    width: 35%;
}

#age {
    margin-left: 45px;
    width: 35%;
}

.input,
.drop {
    display: inline-block;
}

.book-button {
    margin-top: 20px;
    margin-left: 40%;
    padding: 15px 32px 15px 32px;
    background-color: #38761d;
    color: #fafafa;
    font-weight: 600;
    font-size: 100%;

    border-radius: 10px;

    text-align: center;
    display: inline-block;
}

.book-button:hover {
    background-color: #fafafa;
    color: #38761d;
}

/*Thank you message*/

#message {
    font-family: Raleway, sans-serif;
    text-align: center;
    width: 100%;
    height: 275px;
    padding-top: 160px;
    background-color: rgba(99, 161, 219, .1);

    overflow: hidden;
}

/* Media queries*/

/* Small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {

    /*Home Page*/
    #header {
        height: 110px;
    }

    #logo {
        font-size: 200%;
        margin-left: 30px;
        margin-bottom: 0;
    }

    #menu {
        clear: left;
        float: left;
        margin-top: 0;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        font-size: 80%;
        text-transform: none;
    }

    #cover-text {
        bottom: -10px;
        font-size: 110%;
        width: 320px;
    }

    #offers-box {
        background-image: none;
        height: 450px;
    }

    #offers-box>div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    #offers-box div {
        font-size: 110%;
        margin-top: 0;
        padding-top: 5px;
    }

    #what,
    #where {
        font-size: 150%;
        padding: 30px 0;
        margin: 0;
    }

    #location>div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    #location div {
        font-size: 90%;
    }

    /*About Us Page*/
    #video {
        width: 100%;
        height:auto;
    }

    #information h2 {
        font-size: 150%;
    }

    #information p {
        font-size: 100%;
    }

    #reviews {
        margin-left: 50px;
    }

    /* Responsive layout - make the columns stack on top of each other instead of next to each other */
    .row-side,
    .middle {
        width: 100%;
    }

    /* Hide the right column on small screens */
    .right {
        display: none;
    }

    .column {
        width: 100%;
        clear: both;
        padding: 0;
    }

    .description {
        display: none;
    }

    /*Book now page*/

    .book-section {
        height: 920px;
        width: 100%;
    }

    form {
        width: 100%;
        height: 900px;
        padding: 0;
    }

    input[type=text],
    input[type=email],
    input[list=coaches] {
        width: 100%;
        padding-left: 0;
    }

    .input,
    .drop {
        display: inline-block;
    }

    input[type=email] {
        margin-left: 0;
    }

    .services-checkbox,
    .treatments-checkbox {
        float: none;
    }

    .treatments-checkbox {
        margin-left: 0;
    }

    #age,
    #date,
    #gender,
    #hours {
        width: 35%;
    }

    .book-button {
        right: 0;
    }
}

/* Medium devices (landscape tablets, from 768px to 991px ) */
@media only screen and (max-width: 991px) {

    /*Home Page*/
    #logo {
        font-size: 200%;
    }

    #menu {
        font-size: 90%;
    }

    #cover-text {
        bottom: 400px;
        right: 5px;
    }

    #location>div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    /* About us Page */
    #reviews {
        margin-left: 50px;
    }

    /*Book now Page*/
    .book-section {
        height: 960px;
    }

    form {
        height: 900px;
        width: 70%;
    }

    #age,
    #date,
    #gender,
    #hours {
        width: 55%;
    }

    .input[type=coaches] {
        width: 40%;
    }
}

/* Large devices (laptops/desktops, from 992px to 1024px) */
@media only screen and (max-width: 1024px) {

    /* Home Page*/
    #cover-text {
        bottom: 150px;
        right: 5px;
    }

    #location>div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    /*Book now Page*/
    #age,
    #date,
    #gender,
    #hours {
        width: 45%;
    }
}

/* Extra Large devices (laptops/desktops, from 1025px to 1600px) */
@media only screen and (max-width: 1600px) {
    #cover-text {
        bottom: 350px;
        right: 5px;
    }
}